<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

<form action="" methods="post">
<fieldset>

<legend>Contact Details:</legend>


<table>

<tr>
<td>Username</td>
<td><input type="text" name="username"></td>
</tr>


<tr>
<td>Age</td>
<td><input type="number" name="age"></td>
</tr>



<tr>
<td>EmailId</td>
<td><input type="email" name="email"></td>
</tr>


<tr>
<td>Phone Number</td>
<td><input type="number" name="phonenumber"></td>
</tr>


<tr>
<td>Permanent Address</td>
<td><textarea name="paddr"></textarea></td>
</tr>

<tr><td><button type="submit">Finish</button></td>
</tr>

</table>



</fieldset>


</form>

</body>
</html>