<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<h1>Novel service login</h1>

<form action="" methods="POST">




<table>

<tr>
<td>Username</td>
<td><input type="text" name="username"></td>
</tr>


<tr>
<td>password</td>
<td><input type="password" name="pasword"></td>
</tr>



<tr>
<td>City of Employment</td>
<td><input type="text" name="city"></td>
</tr>


<tr><td>Choose Web server</td>
<td><select name="server">
<option name="server" value="AWS">AWS</option>
<option name="server" value="Google">Google</option>
<option value="server" name="xamp">Xamp</option>

</select>
</td>
</tr>



<tr><td>Specify your role</td>
<td><input type="radio" name="role" value="Admin"/>Admin</td>
<td><input type="radio" name="role" value="Engineer" />Engineer</td>
<td><input type="radio" name="role" value="Manager"/>Manager</td>
<td><input type="radio" name="role" value="Guest"/>Guest</td>
</tr>


<tr><td>Sign in to do the following:</td>
<td><input type="checkbox" name="sign" value="mail" >Mail</td>
<td><input type="checkbox" name="sign" value="payrol" >Payrol</td>
<td><input type="checkbox" name="sing" value="selfservice" >Selfserivce</td>

</tr>


<tr><td><button type="submit">Finish</button></td>
<td><button type="reset">Reset</button></td>
</tr>

</table>





</form>
</body>
</html>